.carousel .slide {
  position: relative;
}

.carousel-image {
  height: 550px; /* Keep the height as needed */
  width: 50%; /* Ensure the image covers the width of the container */
  object-fit: cover; /* Ensure the image covers the container while maintaining its aspect ratio */
  object-position: center; /* Center the image within the container */
}
